.card {
    display: flex;
    flex-direction: column;
    width: 23%;    
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(0, 0, 0);
}
.card-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card h4 {
    margin-bottom: 100px;
    font-size: 20px;
}
.card li {
    list-style: none;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.buttons {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.precio {
    font-size: 20px;
    margin-top: 5px;
}


button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
}
.ver-mas {
    background-color: #0004ff;;
}
.añadir {
    background-color: red;
}