.container-card {
    display: flex;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    align-items: center; /* Centrar las tarjetas verticalmente */
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    margin-top: 20px; /* Espacio arriba de las tarjetas */
}

.card {
    height: 300px; /* Altura fija para todas las tarjetas */
    width: 200px; /* Ancho fijo para todas las tarjetas */
    border-radius: 10px;
    background-color: #f5f5f5; /* Color de fondo de las tarjetas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio uniforme entre el contenido */
    padding: 20px; /* Espacio interno dentro de las tarjetas */
}

.card img {
    max-width: 100%; /* Ajustar imagen al ancho de la tarjeta */
    border-radius: 10px; /* Borde redondeado para la imagen */
}

.card-info {
    flex-grow: 1; /* Hacer que el contenido se expanda para ocupar todo el espacio disponible */
}

.precio {
    font-size: 18px; /* Tamaño de fuente para el precio */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color de texto oscuro */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre los botones */
    margin-top: 10px; /* Espacio arriba de los botones */
}

.ver-mas,
.añadir {
    padding: 10px 20px; /* Espaciado interno de los botones */
    border: none; /* Quitar borde de los botones */
    border-radius: 5px; /* Borde redondeado para los botones */
    cursor: pointer; /* Cambiar cursor al pasar sobre los botones */
}

.ver-mas {
    background-color: #2196F3; /* Color de fondo para el botón "Ver Más" */
    color: #fff; /* Color de texto para el botón "Ver Más" */
}

.añadir {
    background-color: #4CAF50; /* Color de fondo para el botón "Añadir" */
    color: #fff; /* Color de texto para el botón "Añadir" */
}
