.container-carrito-nav {
  display: flex;
  align-items: center;
}

.carrito-icn {
  font-size: 25px; /* Reducir el tamaño del icono */
  color: white;
}

.cantidades {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-right: 10px; /* Espacio a la derecha */
}

.cantidades p {
  margin: 5px 0; /* Espaciado entre párrafos */
}

nav {
  height: 60px; /* Ajustar la altura según tus necesidades */
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Añadir relleno horizontal */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte inferior */
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
