.max-container-not {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hacer que ocupe toda la altura del viewport */
}

.container-notFound {
    display: flex;
    flex-direction: column; /* Alinear el contenido verticalmente */
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 600px; /* Limitar el ancho máximo */
    height: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.container-notFound h2 {
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 20px; /* Espacio inferior */
}

.container-notFound p {
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: center; /* Alineación centrada */
}
